:root {
    --primary-color: #0e7c7b;
    --secondary-color: #17bebb;
    --tertiary-color: #D4F4DD;
    --background-color: #071e22;

}

/* ------------------global styles------------------ */

h1,
h2,
h3,
h4 {
    font-family: "Barlow";
    color: var(--secondary-color);
}

p,
a {
    font-family: "Oxanium";
    color: var(--tertiary-color);
}
p {
    line-height: 2em;
}


body {
    background-color: var(--background-color);
    font-family: "";
    padding: 0;
    margin: 0 auto;
}

/* heading styles */
header {
    display: block;
    background-color: var(--primary-color);
}

#home {
    display: flex;
    /* justify-content: ; */
    text-align: left;
    align-items: center;
    padding: 15px 5px;
    width: 150px;
}

#home img {
    width: 150px;

}

nav {
    text-align: center;
}

nav a {
    display: block;
    /* margin: 15px; */
    padding: 1rem;
    padding-top: 1rem;
    text-decoration: none;
    
}



nav li {
    display: none;
    /* transition: 0.5s; */
    /* padding: 15px; */
}


nav ul {
    list-style-type: none;
    padding: 0;
}


#menu {
    display: flex;
    justify-content: right;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--tertiary-color);
    background-color: chartreuse;
}

#menu::before {
    content: "≡";
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 50px;

}

#menu.show::before {
    content: "×";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;

}

.show li {
    display: block;
    transition: 0.5s;
}


/* footer styles */
footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 5px;
}
footer h3 {
    color: var(--tertiary-color);
}


/* ------------------index.html styles------------------ */


/* main styles */
main {
    /* display: flex; */
    text-align: center;

}

.hero {
    display: block;
    text-align: center;
}

.hero p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.hero img {
    height: 200px;
}



/* ------------------soloplay.html styles------------------ */

#info,
#pokemon-info {
    display: block;
    margin: 2em;
}

#info p {}

#info img {
    width: 200px;
    ;
}



/* ------------------multiplayer.html styles------------------ */



/* ------------------faqs.html styles------------------ */


/* ------------------helpful-form.html styles------------------ */

@media only screen and (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;

    }

    /* #menu {
        margin: 0;
        position: relative;
        display: block;
        width: 100px;
    } */

    nav {
        display: flex;
        margin: 0 auto;
        padding-right: 100px; 
        /* ^^^^^ This pushes the nav over to the center */
    }

    nav ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        padding: 0;
    }

    nav li {
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
        transition: 0.75s;
    }
    nav li:hover {
        background-color: var(--secondary-color);
        height: 100%;
        
    }

    #menu {
        display: none;
    }

    #info {
        display: block;
        margin: 1em;
    }

    #info p {}

    #pokemon-info {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Creates 2 equal-width columns */
        grid-template-rows: repeat(4, minmax(100px, auto));
        /* Creates 4 rows, each with a minimum height of 100px */
        gap: 10px;
        /* Optional: Adds spacing between grid items */
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }


}