:root {
    --primary-color: #3c1518ff;
    --secondary-color: #69140eff;
    --tertiary-color: #a44200ff;
    --accent1-color: #d58936ff;
    --accent2-color: #b0fe76ff;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--accent2-color);
}

main,
header,
footer {
    font-family: "Titillium Web", sans-serif;
    text-align: center;

}

header h1 {
    text-align: center;
    color: var(--accent1-color);
    padding: 15px;
    background-color: var(--secondary-color);
}

footer, footer p, footer span{
    background-color: var(--secondary-color);
}
footer {
    padding: 15px;
    color: var(--accent1-color);
}

header {
    padding-bottom: 15px;
}


div {
    text-align: center;
    margin: 20px;
}

div.weather img {
    height: 150px;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;

}
.weather img{
    display: none;
}

@media screen and (min-width: 500) {
    main {
        display: flex;
    }
    
    .data-div {
        position: relative;
        width: 300px;
        height: auto;
    }
    .data {
        
    }
    
    .data {
        z-index: 10;
        position: absolute;
        top: 30%;
        width: 300px;
        background-color: var(--accent1-color);
    }

    .weather img {
        display: none;
    }
}