:root {
    --primary-color: #3c1518ff;
    --secondary-color: #69140eff;
    --tertiary-color: #a44200ff;
    --accent1-color: #d58936ff;
    --accent2-color: #b0fe76ff;
}

html {
    background-color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
}


main,
header,
footer {
    font-family: "Titillium Web", sans-serif;
    text-align: center;

}

header h1 {
    text-align: center;
    color: var(--accent1-color);
    padding: 15px;
    background-color: var(--secondary-color);
}

footer, footer p, footer span{
    background-color: var(--secondary-color);
}
footer {
    padding: 15px;
    color: var(--accent1-color);
}

header {
    padding-bottom: 15px;
}


div {
    text-align: center;
    margin: 20px;
}

div.weather img {
    height: 150px;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    
}

@media screen and (min-width: 500px) {
    /* main {
        display: flex;
    } */
    

    .data {
        z-index: 10;
        position: absolute;
        top: 150px;
        left: 50px;
        width: 300px;
        background-color: var(--accent1-color);
        height: 275px;
    }
    .data h1, .weather h1 {
        background-color: var(--tertiary-color);
        position: relative;
        right: 30px;
        padding: 5px;
        text-align: left;
    }
    div {
        padding: 10px;
    }
    .weather {
        position: absolute;
        background-color: var(--accent1-color);
        width: 300px;
        right: 75px;
        bottom: -250px;
        height: 175px;
    }

    .weather img {
        display: none;
    }

    
}