header,
footer {
    background-color: purple;
    font-family: "Roboto", system-ui;
}

header h1 {
    color: white;
    margin: 10px;
    padding: 10px;
}

main {
    font-family: "Roboto", system-ui;
}

figure {
    
}

footer {
    color: white;
    text-align: center;
}