body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border-color: #bbb;
    border-width: 10px;
    border-style: solid;
    padding: 1rem;
    background-color: lightblue
}

main{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

section{
    padding: 1rem;
    background-color: #fff;
}
